terratowns_endpoint="https://terratowns.cloud/api"
ageofempires = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/ageofempires"
  content_version = 2 
}
movielines = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/movielines"
  content_version = 1 
}
